
header {
    background-color: #8193D3;
}
ul {
    list-style: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #8193D3;
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 15px;
}
li a:hover:not(.active){
    background-color: #894B77;
    color: black;
}
.active {
    background-color: #894B77;
}
body {
    margin: 0;
}
main { 
    background-color: white;
    height: 100vh;
    display: inline-block;
    width: 100%;
}
.image {
    border: 0;
    padding-top: 100px;
    background-color: white;
    width: 100%;
    text-align: center;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 9999px;
}
.about{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(115,115,215,1) 0%, rgba(188,184,255,1) 0%, rgba(196,221,255,1) 52%, rgba(220,218,244,1) 68%, rgba(255,255,255,1) 90%);
}
.intro {
    border-bottom: 1px solid rgba(220,218,244,1) 100%;
    text-align: center;
    color: black;
    padding: 20px;
    margin: 20px;
}
.content {
    text-align: center;
    padding: 10px;
}
.content h1 h3 {
    color: #03194b;
}
.content h5 {
    color: #14213d;
}
.contact_me {
    background-color: #8193D3;
    border: 1px solid #8193D3;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    padding: 50px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(115,115,215,1) 0%, rgba(188,184,255,1) 0%, rgba(196,221,255,1) 52%, rgba(220,218,244,1) 68%, rgba(255,255,255,1) 90%);
    color: black;
    border: 1px solid white;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    height: 500px;
    border-radius: 10px;   
}
.contact_me h1 {
    text-align: center;
}
label {
    margin-left: 20px;
}
input[type=text],input[type=email], input[type=tel], input[type=password], select,textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #03045E;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}
button{
    background-color: #894B77;
    color: white;
    padding: 10px 40px;
    margin: 0;
    border: 0;
}
.button{
    text-align: center;
}
.register {
    background-color: #8193D3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 500px;
    margin: 0;
}
.card{
    padding: 50px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(115,115,215,1) 0%, rgba(188,184,255,1) 0%, rgba(196,221,255,1) 52%, rgba(220,218,244,1) 68%, rgba(255,255,255,1) 90%);
    border: 1px solid rgba(188,184,255,1);
    color: black;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 400px;
    border-radius: 10px;
    max-width: fit-content;
    height: fit-content;
}
.register h1 {
    margin: 5px;
    text-align: center;
    font-size: larger;
}
.welcome{
    background-color: #8193D3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.welcome h1 {
    text-align: center;
    font-size: larger;
}
.login{
    padding: 30px;
    color: black;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(115,115,215,1) 0%, rgba(188,184,255,1) 0%, rgba(196,221,255,1) 52%, rgba(220,218,244,1) 68%, rgba(255,255,255,1) 90%);
    border: 1px solid rgba(188,184,255,1);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    height: 250px;
    border-radius: 10px;
    max-width: fit-content;
}